$backgroud: #F9F9F9;
$primary: #FF5A70;
$gray-20: #EBEBEB;
$gray-40: #898989;
$gray-80: #3B3B3B;
$white: #ffffff;
$black: #000000;
$active: #36CF82;
$active-light: #36CF822E;
$pending: #F29D42;
$pending-light: #F29D424D;

