.card {
  overflow: hidden;
  border: 1px solid var(--gray-500);
  border-radius: 0.5rem;
}

.header, .content {
  padding: 0.8rem;
}

.header {
  text-align: center;
  font-weight: bold;
  color: var(--white);
  background-color: var(--gray-800);
  border-bottom: 1px solid var(--white);

}

 .content {
  background-color: var(--gray-200);
}
