.skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(-90deg, var(--gray-300) 0%, var(--gray-100) 50%, var(--gray-300) 100%);
  background-size: 400% 400%;
  animation:  pulse-animation 1.5s ease-in-out infinite;

}

@keyframes pulse-animation {
  0% {
    background-position: 0% 0%
  }
  100% {
    background-position: -135% 0%
  }
}

