<div class="container">
  <img class="ellipsis" src="assets/ellipsis.png" alt="ellipsis" draggable="false">
  <div class="wrapper">
    <div class="content">
      <div class="btn">
        <img src="assets/edit.png" alt="edit" draggable="false">
        <span>Edit</span>
      </div>
      <div class="btn border-top">
        <img src="assets/sign.png" alt="sign" draggable="false">
        <span>Sign</span>
      </div>
      <div class="btn border-top">
        <img src="assets/document.png" alt="document" draggable="false">
        <span>View summary</span>
      </div>
      <div class="btn border-top">
        <img src="assets/trash.svg" alt="trash" draggable="false">
        <span>Delete</span>
      </div>
    </div>
  </div>
</div>


