
@import '../../styles/colors.scss';

 select {
  height: 40px;

  padding-right: 20px;
  background: $white;

  font-family: aileron, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;

  color: $gray-40;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;


  appearance: none;
  border: none;
}

.select-view {
  width: 100%;
  padding-left: 18px;
}

.container {
  position: relative;
}

.container::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 10px;
  width: 14px;
  height: 8px;
  background: url('assets/arrow_down.png') no-repeat;
  background-size: 14px;
}
