@import './styles/colors.scss';

* {
  font-family: aileron, sans-serif;
}

.app-container {
  background-color: $backgroud;
  position: relative;
  height: 100%;
  width: 100%;
}

/* Desktop */
@media (min-width: 1281px) {
  .spacer {
    height: 150px;
  }
}

/* Tablets, Ipads and Laptops */
@media (min-width: 481px) and (max-width: 1280px) {
  .spacer {
    height: 150px;
  }
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 280px) and (max-width: 480px) {
  .spacer {
    height: 75px;
  }
}
