<header class="header">
  <a class="logo" href="https://www.getontop.com">
    <img src="assets/logo-ontop.png" draggable="false" alt="logo">
  </a>
  <app-nav></app-nav>
  <div class="user-profile">
    <img src="assets/user.png" draggable="false" alt="logo-user">
    <img class="icon-down" src="assets/arrow_down.png" draggable="false" alt="user-profile">
  </div>
</header>

<header class="mobile">
  <a class="logo" href="https://www.getontop.com">
    <img src="assets/logo-ontop.png" draggable="false" alt="logo">
  </a>
  <button class="btn-menu">
    <img src="assets/menu.png" draggable="false" alt="menu-icon">
  </button>
</header>
