<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th *ngFor="let column of columns" scope="col">{{ column.friendly_name }}</th>
    </tr>
  </thead>
  <tbody *ngFor="let row of data">
    <tr *ngFor="let item of [row]">
      <td scope="row">
        <img *ngIf="item.image" [src]="item.image" [alt]="item.image" draggable="false">
      </td>
      <td data-label="Contractor name">{{ item.name }}</td>
      <td data-label="Type">{{ item.type }}</td>
      <td data-label="Start date">{{ item.start_date }}</td>
      <td data-label="Amount">{{ item.amount }}</td>
      <td data-label="Status">
        <app-tag [placeholder]="item.status"></app-tag>
      </td>
      <td data-label="Actions">
        <app-action-button></app-action-button>
      </td>
    </tr>
  </tbody>
</table>
